*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Light Open Sans,sans-serif";
  color: #ffffff;
  background-color: black;
  line-height: 1.5;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.nyt-header {
  display: flex;
  flex-direction: column;
  // padding: 20px;
  // margin: 75px;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  &.is-active {
    min-height: 20vh;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    .logo {
      max-width: 150px;
    }
    .nyt-forms {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  @include breakpoint($tablet-width) {
    justify-content: center;
    flex-direction: row;
    padding-top: 20px;
    .logo {
      max-width: 125px;
    }
    &.is-active {
      flex-direction: row;
      .logo {
        max-width: 65px;
      }
    }
  }
  @include breakpoint($desktop-width) {
    justify-content: flex-start;
    flex-direction: row;
    .logo {
      max-width: 400px;
    }
  }
}

.ajax-loader {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  display: none;
}
@include breakpoint($tablet-width) {
  .ajax-loader {
    top: 10%;
  }
}

.container {
  max-width: 1000px;
  display: flex;
  margin: 10px;
  justify-content: center;
  min-height: 100%;
}

.container small {
  max-width: 600px;
  margin: 10px;
}

.nyt-articles {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  background-position: center;

  @include breakpoint($tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint($desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.news-article {
  height: 400px;
  background-position: 70%;
  position: relative;
  p {
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
  }
}

h2 {
  font-family: "Open Sans Light Open Sans,sans-serif";
  font-size: 14px;
}

footer {
  color: #c2c2c2;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 15px;
  .footerbottom {
    display: flex;
  }
}

@include breakpoint($desktop-width) {
  footer {
    justify-content: flex-start;
  }
}

// @media (min-width: 600px) {
//   .nyt-header {
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     .logo {
//       max-width: 120px;
//     }
//     &.is-active {
//       flex-direction: row;
//       .logo {
//         max-width: 65px;
//       }
//     }
//   }
// }
